<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-post' post.author.username %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
        </div>
        <div class="row">
            {% if post.cover_image %}
            <div class="col-md-4">
                <img class="img-fluid" src="{{ post.cover_image.url }}" alt="Cover Image">
            </div>            
            {% endif %}
            <div class="col-md-8">
                <h2 class="mb-1" style="font-size: 24px;"><a class="article-title" href="{% url 'post-detail' post.pk %}">{{ post.title }}</a></h2>
                {% if post.category.name %}
                <p class="mb-1"><a href="{% url 'category-post' post.category.name %}">{{ post.category }}</a></p>
                {% endif %}
                <p>{{ post.content|truncatewords_html:20 }}</p>
            </div> 
        </div>
    </div>
</article>
